@import "./mixins";
@import "./header/header";
@import "./footer/footer";
@import "./cards/cards";
@import "./catalog/catalog";
@import "./about/about";

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  @include media_interval($media1200, 0) {
    padding: 0 110px;
  }

  @include media_interval($media1024, $media1200) {
    padding: 0 54px;
  }

  @include media_interval($media768, $media1024) {
    padding: 0 34px;
  }

  @include media_interval($media640, $media768) {
    padding: 0 30px;
  }

  @include media_interval(0, $media640) {
    padding: 0 20px;
  }
}

body {
  font-family: 'PT Root', sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;

  line-height: 0;
}

picture {
  line-height: 0;
}

ul {
  list-style: none;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
}